html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: ivory; */
    background-color: #13323e;
    --width: 100%;
}

primitive {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.canvasWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
